* {
    margin: 0%;
    background-color: aliceblue;
    max-width: 100%;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
    text-align: center;
}

.wrapper{
    width: 70%;
    margin: 2px;
}

.origin {
   padding: 5px;
}

strong {
    font-size: x-large;
    font-weight: 400px;
    color: rgb(3, 22, 56);
}

table {
    margin: 8px;
    border-spacing: 0px;
}

thead {
    text-align: center;
}

thead tr th {
    background-color: rgb(45, 80, 80);
    color: white;
    border: 1px solid lightgrey;
    padding: 10px;
}

tbody tr td {
    border: 1px solid lightgrey;
    padding: 10px;
}

li {
    padding: 10px;
    color: rgb(63, 80, 97);
}
.card { 
    width: 18rem;
    /* margin-left: 10px; */
    background-color: rgb(169, 197, 169);
    border-radius: 5px;
}
button{
    width: 7rem;
    height: 2rem;
    background-color: rgb(23, 23, 199);
    color: white;
    border-radius: 4px;
    border-color: rgb(23, 23, 199);
}
#container{
    display:flow-root;
}
